# Ignore Python virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Map files used for simulation
# They're ignored since these files often get updated
maps/

# Environment config files
.env
